.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

p{
  background-image: linear-gradient(90deg, #D09D33, #F4F445, #F3F042, #C6842E, #E5BE1C, #DCAC21);
  background-clip: text;
  color: transparent;
}

h1, h2, h3, h4{
  background-image: linear-gradient(90deg, #D09D33, #F4F445, #F3F042, #C6842E, #E5BE1C, #DCAC21);
  background-clip: text;
  color: transparent;
}