@font-face {
  src: url('./assets/Big\ Black\ Bear.ttf');
  font-family: face;
}

body {
  margin: 0;
  font-family: face;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
