.auth {
  /* margin: 5rem auto; */
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 25rem;
  border-radius: 20px;
  border: 6px solid #B66E2A;
  padding: 1rem;
  text-align: center;
  background-color: #2E1E00;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  width: 20rem;
  margin: auto;
  border-radius: 4px;
  padding: 0.25rem;
  border: 5px solid #B66E2A;
  border-radius: 20px;
  background-color: #2E1E00;
  color: #B66E2A;
}

.error {
  color:  red;
}