.page {
  margin: 5rem auto;
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

header {
  position: relative;
  margin: 0 auto;
  clear: left;
  height: auto;
  z-index: 0;
  text-align: center;
}

.image1 {
  position: absolute;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  border: 5px solid #b66e2a;
  border-radius: 20px;
  background-color: #2e1e00;
  color: #b66e2a;
  width: 90px;
}

input::placeholder {
  color: #b66e2a8f;
}

.App {
  background-image: url("../../assets/background2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
